[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "0.48.1"
transformers = "4.4.3"
torch = "*"
streamlit-lottie = "*"

[dev-packages]

[requires]
python_version = "3.8"
